{% extends 'CarCity/base.html' %}

{% block content %}
  <h2>Car Ads</h2>
  <ul>
    {% for ad in ads %}
      <li>
        <strong>{{ ad.year }} {{ ad.brand }} {{ ad.model }}</strong>
        {% if user.is_authenticated %}
          - Price: ${{ ad.price }}<br>
          <a class="btn btn-warning" href="{% url 'CarCity:ad_detail' ad.id %}">View Details</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'accounts:login' %}">Log in to see details</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
